<script>
	function loading() {
		let x = document.getElementById("load");
		x.style.display = "block";
	}
</script>
<h3>Find all logs associated with a specific IP (source or destination)</h3>
<a href='/logdb/'>Home</a><br><br>
<form action='/logdb/searchbyip/' method='post'>
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<input  onclick="loading()" type='submit' value='Go'>
</form>


<p id="load" style="display: none">Loading...</p>
{% if has_results %}
<br> <br>
<p>{{ results|length }} results:</p>
<div style="width:fit-content;height:500px;overflow-y:auto;">
<table style="border:1px solid black; border-collapse: collapse;">
	<tr>
		<th style="border: 1px solid black;">log id</th>
	</tr>
	{% for r in results %}
		<tr>
			<td style="border: 1px solid black;"> {{r.0}} </td>
		</tr>
	{% endfor %}
</table>
</div>
{% endif %}